@model HomeViewModel
<!-- banner-2 -->
<div class="page-head_agile_info_w3l">

</div>
<!-- //banner-2 -->
<!-- page -->
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="index.html">Home</a>
                    <i>|</i>
                </li>
                <li>@Model.item.Name</li>
            </ul>
        </div>
    </div>
</div>
<!-- Single Page -->
<div class="banner-bootom-w3-agileits py-5">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            @Model.item.Name
        </h3>
        <!-- //tittle heading -->
        <div class="row">
            <div class="col-lg-5 col-md-8 single-right-left ">
                <div class="grid images_3_of_2">
                    <div class="flexslider">
                        <div class="clearfix">

                        </div>
                        <div class="flex-viewport" style="overflow: hidden; position: relative;">
                            <ul class="slides">
                                <li data-thumb="~/img/mk4.jpg">
                                    <div class="thumb-image">
                                        <img src="~/img/mk4.jpg" data-imagezoom="true" class="img-fluid" alt="">
                                    </div>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-7 single-right-left simpleCart_shelfItem">
                <h3 id="name_@Model.item.Id" class="mb-3">@Model.item.Name</h3>
                <p class="mb-3">
                    <span class="item_price">$@Model.item.UnitPrice.ToString("N2")</span>
                </p>
                <div class="product-single-w3l">
                    <ul>
                        <li class="mb-1">
                            @Model.item.Description
                        </li>
                    </ul>
                </div>
                @if (Model.item.IsCombo)
                {
                    <div class="product-single-w3l">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var it in Model.item.ConsistOf)
                                {
                                <tr>
                                    <td>
                                        @it.Child.Name
                                    </td>
                                    <td>
                                        @it.Amount
                                    </td>
                                </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                }


                <div class="occasion-cart">
                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                        
                            <fieldset>
                                <input type="hidden" id="price_@Model.item.Id" value="@Model.item.UnitPrice">
                                <input type="hidden" id="type_@Model.item.Type" value="@Model.item.Type">

                                <button name="submit" id="@Model.item.Id" class="addCart button btn">Add to cart
                                </button>
                            </fieldset>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Single Page -->