@using MvcClient.Helpers
@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Electric Shop</title>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom-Files -->
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Bootstrap css -->
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Main css -->
    <link rel="stylesheet" href="~/css/fontawesome-all.css">
    <!-- Font-Awesome-Icons-CSS -->
    <link href="~/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- pop-up-box -->
    <link href="~/css/menu.css" rel="stylesheet" type="text/css" media="all" />
    <!-- menu style -->
    <!-- //Custom-Files -->

    <!-- web fonts -->
    <link
        href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext"
        rel="stylesheet">
    <link
        href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
        rel="stylesheet">
    <!-- //web fonts -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

</head>

<body>
    <div class="agile-main-top">
        <div class="container-fluid">
            <div class="row main-top-w3l py-2">
                <div class="col-lg-4 header-most-top">
                    <p class="text-white text-lg-left text-center">Offer Zone Top Deals & Discounts
                        <i class="fas fa-shopping-cart ml-1"></i>
                    </p>
                </div>
                <div id="account_partial" class="col-lg-8 header-right mt-lg-0 mt-2">
                    <partial name="_account"></partial>
                </div>

            </div>
        </div>
    </div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken();
    }
        <!-- Login pop up -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center">Log In</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="formLogin">
                            <div class="form-group">
                                <label class="col-form-label">Username</label>
                                <input id="userNameLogin" type="text" class="form-control" placeholder=" " name="Name"
                                    required="">

                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Password</label>
                                <input id="pwLogin" type="password" class="form-control" placeholder=" " name="Password"
                                    required="">
                            </div>

                            <div class="right-w3l">

                                @* Nút submt nằm ở đây *@
                                <button id="loginSubmit" data-request-url='@Url.Action("Login","Home")'
                                    style="width:100%; font-size:18" class="btn btn-primary">Log
                                    in
                                </button>
                                <span id="err_login" style="color:red;font-size:12;font-weight:600;display:none"></span>
                            </div>
                            <div class="sub-w3l">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                    <label class="custom-control-label" for="customControlAutosizing">Remember
                                        me?</label>
                                </div>
                            </div>
                            <p class="text-center dont-do mt-3">Don't have an account?
                                <a href="#" data-toggle="modal" data-target="#exampleModal2">
                                    Register Now</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- register -->
        <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Register</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="formRegister">
                            <div class="form-group">
                                <label class="col-form-label">Your Name</label>
                                <input id="nameRegister" type="text" class="form-control" placeholder=" " required="">
                                <span id="error_name" style="color:red;font-size:12;font-weight:600;display:none"></span>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Phone Number</label>
                                <input id="phoneRegister" type="text" class="form-control" placeholder=" " required="">
                                <span id="error_phone" style="color:red;font-size:12;font-weight:600;display:none"></span>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Address</label>
                                <input id="addressRegister" type="text" class="form-control" placeholder=" " required="">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Gender</label>
                                <select id="genderRegister" class="form-control">
                                    <option value="0">Male</option>
                                    <option value="1">Female</option>
                                    <option value="2">Others</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Email</label>
                                <input id="usernameRegister" type="email" class="form-control" placeholder=" " required="">
                                <span id="error_username"
                                    style="color:red;font-size:12;font-weight:600;display:none"></span>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Password</label>
                                <input id="passwordRegister" type="password" class="form-control" placeholder=" "
                                    required="">
                                <span id="error_password"
                                    style="color:red;font-size:12;font-weight:600;display:none"></span>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Confirm Password</label>
                                <input id="confirmPasswordRegister" type="password" class="form-control" placeholder=" "
                                    required="">
                                <span id="error_confirmPassword"
                                    style="color:red;font-size:12;font-weight:600;display:none"></span>
                            </div>
                            <div class="right-w3l">
                                <button id="registerSubmit" data-request-url='@Url.Action("Register","Home")'
                                    style="width:100%; font-size:18" class="btn btn-primary">Register
                                </button>
                            </div>
                            <div class="sub-w3l">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="customControlAutosizing2">
                                    <label class="custom-control-label" for="customControlAutosizing2">I Accept to the
                                        Terms & Conditions</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bot">
            <div class="container">
                <div class="row header-bot_inner_wthreeinfo_header_mid">
                    <!-- logo -->
                    <div class="col-md-3 logo_agile">
                        <h1 class="text-center">
                            <a asp-controller="Home" asp-action="Index" class="font-weight-bold font-italic">
                                <img src="~/img/logo2.png" alt=" " class="img-fluid">Electro Store
                            </a>
                        </h1>
                    </div>
                    <!-- //logo -->
                    <!-- header-bot -->
                    <div class="col-md-9 header mt-4 mb-md-0 mb-4">
                        <div class="row">
                            <!-- search -->
                            <div class="col-7 agileits_search">
                                <form class="form-inline" action="#" method="post">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                        aria-label="Search" required>
                                    <button class="btn my-2 my-sm-0" type="submit">Search</button>
                                </form>
                            </div>
                            <!-- //search -->
                            <!-- cart details -->
                            <div class="col-5 top_nav_right text-center mt-sm-0 mt-2">
                                <div class="row">
                                    <div class="col-3">
                                        <a asp-action="Index" asp-controller="Cart" class="btn w3view-cart" name="submit">
                                            <i class="fas fa-cart-arrow-down"></i>
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <span>Total Item:
                                            @if (SessionHelper.GetObjectFromJson<IList<CartItem>>(Context.Session, "cart")
                                            == null)
                                        {
                                            <span id="totalItem"> 0 </span>
                                        }
                                        else
                                        {
                                            <span id="totalItem"> @Context.Session.GetInt32("TotalItem")</span>
                                        }
                                    </span>
                                </div>
                                <div class="col-5">
                                    <span>
                                        Total Price:
                                        @if (SessionHelper.GetObjectFromJson<IList<CartItem>>(Context.Session, "cart")
                                            == null)
                                        {
                                            <span id="totalPrice">$0</span>
                                        }
                                        else
                                        {
                                            <span id="totalPrice">$@Context.Session.GetString("TotalPrice")</span>
                                        }

                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- //cart details -->
                    </div>
                </div>
                <input type="hidden" id="addToCart" value='@Url.Action("AddToCart","Cart")'>
            </div>
        </div>
    </div>
    <partial name="_Categories"></partial>



    @RenderBody()



    <footer>
        <div class="copy-right py-3">
            <div class="container">
                <p class="text-center text-white">© 2018 Electro Store. All rights reserved | Design by
                    <a href="http://w3layouts.com"> W3layouts.</a>
                </p>
            </div>
        </div>
    </footer>


    <!-- cart-js -->


    <!-- password-script -->
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- //password-script -->

    <!-- scroll seller -->
    <script src="~/js/scroll.js"></script>
    <!-- //scroll seller -->



    <!-- start-smooth-scrolling -->
    <script src="~/js/move-top.js"></script>
    <script src="~/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->

    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //smooth-scrolling-of-move-up -->

    <!-- for bootstrap working -->
    <!-- //for bootstrap working -->
    <!-- //js-files -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
