@model CustomerModel
@{
    ViewData["Title"] = "Orders";
}
<div class="container-fluid container">
    <div class="row content">
        <div class="col-sm-3 ">
            <img src="../img/profile.png" height="250px" width="300px" />
            <h4>@Model.Customer.Name</h4>
            <div class="sidenav">
                <ul class="nav nav-pills nav-stacked">
                    <li><a asp-action="Index">Profile</a></li>
                    <li class="active"><a asp-action="Orders">Orders</a></li>
                </ul><br>
            </div>

        </div>

        <div class="col-sm-9">
            <h4>List Orders</h4>
            <br />
            <div id="orders">
                @foreach (var order in Model.Customer.Orders)
                {
                    string href = "#Order" + order.Id;
                    string idhref = "Order" + order.Id;
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="@href">
                                <div class="card-group">
                                    <div class="card ">
                                        <div class="card-body text-center">
                                            <p class="card-text text-success">@order.Id</p>
                                        </div>
                                    </div>
                                    <div class="card ">
                                        <div class="card-body text-center">
                                            <p class="card-text">@order.OrderDate.ToString("dd/MM/yyyy")</p>
                                        </div>
                                    </div>
                                    <div class="card ">
                                        <div class="card-body text-center">
                                            <p class="card-text">@order.StatusName</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div id="@idhref" class="collapse show" data-parent="#orders">
                            <div class="card-body table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <th>Name</th>
                                        <th>Unit price</th>
                                        <th>Amount</th>
                                        <th>Total</th>
                                    </thead>
                                    <tbody>
                                        @foreach (var detail in order.OrderDetails)
                                        {
                                            if (!@detail.IsCombo)
                                            {
                                                <tr>
                                                    <td>@detail.ItemName</td>
                                                    <td>@detail.ItemUnitPrice</td>
                                                    <td>@detail.Amount</td>
                                                    <td>@detail.SumPrice</td>
                                                </tr>
                                            }
                                            else
                                            {
                                                string hrefsub = "#OrderSub" + detail.Id;
                                                string idhrefsub = "OrderSub" + detail.Id;
                                                <a href="@hrefsub" data-toggle="collapse">
                                                    <tr>
                                                        <td>@detail.ItemName</td>
                                                        <td>@detail.ItemUnitPrice</td>
                                                        <td>@detail.Amount</td>
                                                        <td>@detail.SumPrice</td>
                                                    </tr>
                                                </a>
                                                <div id="@idhrefsub" class="collapse">
                                                    @foreach (var sub in detail.SubOrderDetails)
                                                    {
                                                        <span>@sub.ItemName @sub.Amount</span>
                                                    }
                                                </div>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br />
                }
            </div>
        </div>
    </div>

</div>